4.9 Part 1

# Contents
Import customer.csv
Rename Columns
DF Info
Identifying Null Values
Merge Data Frames

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#Import Data Set
path = r'C:\Users\justi\Instacart Basket Analysis 12-22'
df = pd.read_csv(os.path.join(path, '02 Data', '01 Original Data', 'customers', 'customers.csv'), index_col = False)

In [3]:
df.shape

(206209, 10)

In [4]:
df.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

Rename Columns

In [5]:
df.rename(columns = {'First Name': 'first_name'}, inplace = True)

In [6]:
df.rename(columns = {'Surnam': 'last_name'}, inplace = True)

In [7]:
df.rename(columns = {'STATE': 'state'}, inplace = True)

In [8]:
df.rename(columns = {'Gender': 'gender'}, inplace = True)

In [9]:
df.rename(columns = {'Age': 'age'}, inplace = True)

Data Type Info

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   first_name    194950 non-null  object
 2   last_name     206209 non-null  object
 3   gender        206209 non-null  object
 4   state         206209 non-null  object
 5   age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [11]:
df.dtypes

user_id          int64
first_name      object
last_name       object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [12]:
#I did not drop any columns because I might need the information later. I can always drop the columns later.

In [13]:
df.isnull().sum()

user_id             0
first_name      11259
last_name           0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [14]:
#There are many rows missing first_name values; however, this should not take away from the analysis and I want the other data associated with the accounts so I will not delete them or input a value.

In [15]:
for col in df.columns.tolist():
    weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df[weird]) > 0:
        print(col + ' weird')
    else: print(col + str(' ok'))

user_id ok
first_name weird
last_name ok
gender ok
state ok
age ok
date_joined ok
n_dependants ok
fam_status ok
income ok

In [16]:
# first_name is considered weird because it contains null values

Merge Data Frames

In [17]:
df_2 = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_products_merged_after_exercise_4_8.pkl'))

In [18]:
df_2.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,average_spent_per_order,spender_flag,median_dspo,frequency_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,both,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer

In [19]:
merged_df = df_2.merge(df, on = 'user_id', how = 'left')

In [20]:
merged_df.shape

(32404859, 30)

In [21]:
merged_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,frequency_flag,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [22]:
merged_df.to_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'merged4_9.pkl'))