Exercise 4.7

# Contents
Import Libraries
Create Subset
Create Function
.loc functions
Prices Flag
Busiest Day Flag
Busiest Period of Day Flag

In [11]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [12]:
#Import ords_prods_merged
path = r'C:\Users\justi\Instacart Basket Analysis 12-22'
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_products_merged.pkl'))

In [13]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [14]:
#Create Subset
df = ords_prods_merged[:1000000]

In [15]:
#Create Function
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <=15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [16]:
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\justi\AppData\Local\Temp\ipykernel_20160\935325922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [17]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product

In [18]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [19]:
df['prices'].max()

14.8

In [20]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'
ords_prods_merged.loc[ords_prods_merged['prices'] <=5, 'price_range_loc'] = 'Low-range product'

In [21]:
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [23]:
#Frequency Of orders_day_of_the_week
ords_prods_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [67]:
result = []
for i in ords_prods_merged['order_dow']:
    if i == 0:
        result.append('Busiest day')
    elif i == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [68]:
ords_prods_merged['busiest_day'] = result

In [69]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

Assignment

In [70]:
#2.
ords_prods_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [71]:
result1 = []
for i in ords_prods_merged['order_dow']:
    if i == 0:
        result1.append('Busiest days')
    elif i == 1:
        result1.append('Busiest days')
    elif i == 4:
        result1.append('Least busy days')
    elif i == 3:
        result1.append('Least busy days')
    else:
        result1.append('Regularly busy')

In [72]:
ords_prods_merged['busiest_days'] = result1

In [73]:
ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: busiest_days, dtype: int64

In [74]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days

Everything seems to be accurate. I compared the value counts of the busiest days column to the order_dow column to ensure the column was correct.

In [66]:
#4
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [82]:
result2 = []
for i in ords_prods_merged['order_hour_of_day']:
    if i == 10 or i == 11 or i == 14 or i == 15 or i == 13 or i == 12 or i == 16 or i == 19:
        result2.append('Most orders')
    elif i == 17 or i == 8 or i == 18 or i == 19 or i == 20 or i == 7 or i == 21 or i == 22:
        result2.append('Average orders')
    elif i == 23 or i == 6 or i == 0 or i == 1 or i == 5 or i == 2 or i == 4 or i == 3:
        result2.append('Fewest orders')
    else:
        result2.append('Not Enough Info')

In [83]:
ords_prods_merged['busiest_period_of_day'] = result2

In [84]:
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders        19922173
Average orders      8739346
Not Enough Info     2454203
Fewest orders       1289137
Name: busiest_period_of_day, dtype: int64

In [79]:
ords_prods_merged.shape

(32404859, 19)

In [85]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'ords_prods_merged_added_columns.pkl'))